<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    
    <!-- Link to Custom CSS -->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LiveWeather.styles.css" />
    
    <!-- Favicon for the app -->
    <link rel="icon" href="favicon.png" type="image/png" />
    
    <!-- Placeholder for dynamically injected styles -->
    <HeadOutlet />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

</head>

<body>
    <!-- Component to render the routes -->
    <Routes />
    
    <!-- Blazor WebAssembly script -->
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
